[submodule "SQLlib"]
	path = SQLlib
	url = https://codeberg.org/RevK/SQLlib
[submodule "AJL"]
	path = AJL
	url = https://codeberg.org/RevK/AJL
[submodule "login"]
	path = login
	url = https://github.com/revk/login
[submodule "email"]
	path = email
	url = https://github.com/revk/email
